<!-- Header ============================================= -->
<header  id="header" class="sticky-style-2">
	<div class="container clearfix">
		<!-- Logo
		============================================= -->
		<div id="logo" class="divcenter">
			<a href="http://www.unam.mx/"            class="standard-logo1" target="_blank"><img src="{{ base_path ~ directory }}/images/logo_1.png"  class="divcenter2" alt="UNAM"                   title="UNAM"                  ></a>
			<a href="http://www.ingenieria.unam.mx/" class="standard-logo2">                <img src="{{ base_path ~ directory }}/images/logo_2.png"  class="divcenter3" alt="Facultad de Ingenieria" title="Facultad de Ingenieria"></a>
			<a href="http://www.unam.mx/"            class="standard-logo3" target="_blank"><img src="{{ base_path ~ directory }}/images/logo_1.png"                     alt="UNAM"                   title="UNAM"                  ></a>
			<a href="http://www.ingenieria.unam.mx/" class="standard-logo4">                <img src="{{ base_path ~ directory }}/images/logo_3.png"                     alt="Facultad de Ingenieria" title="Facultad de Ingenieria"></a>
			<a href="http://www.unam.mx/"            class="standard-logo5" target="_blank"><img src="{{ base_path ~ directory }}/images/unam_02.png"                    alt="UNAM"                   title="UNAM"                  ></a> 
			<a href="http://www.ingenieria.unam.mx/" class="standard-logo6">                <img src="{{ base_path ~ directory }}/images/logo_4.png"                     alt="Facultad de Ingenieria" title="Facultad de Ingenieria"></a>
		</div>
		<!-- #logo end -->
	</div>
	<div id="header-wrap">
		{{ page.header }}
	</div>
</header>
<!-- Header ============================================= -->